*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}

h1{
    color: #ffffff;
    text-align: center;
}

h2{
    color: #ffffff;
}

p{
    color: #ffffff;
}
img{
    display: flex;
    margin: -0px 370px;
}